

version: "3"
services:
        ldap_server:
                image: drussell1974/openldap:ldap-v0.0.16-alpha
                environment:
                        - LDAP_ADMIN_USER=${LDAP_ADMIN_USER:-cn=admin}
                        - LDAP_ADMIN_PASSWORD=${LDAP_ADMIN_PASSWORD:-admin}
                        - LDAP_BACKUP_DIR=${LDAP_BACKUP_DIR:-examplenet}
                        - LDAP_BASE_DN=${LDAP_BASE_DN:-dc=example,dc=net}
                        - LDAP_DOMAIN=${LDAP_DOMAIN:-example.net}
                        - LDAP_INIT=${LDAP_INIT:-false}
                        - LDAP_INIT_BOOTSTRAP=${LDAP_INIT_BOOTSTRAP:-false}
                        - LDAP_INIT_LDIF_PATH=${LDAP_INIT_LDIF_PATH:-init/ldif/init.ldif}
                        - LDAP_NFS_SERVER_IPADDR=${LDAP_NFS_SERVER_IPADDR}
                        - LDAP_ORGANIZATION_NAME=${LDAP_ORGANIZATION_NAME:-Example.Net}
                ports:
                        - 389:389
                        - 636:636
        nfs_server:
                image: drussell1974/open-ldap:nfs-v0.0.17-alpha
                external_links:
                        - ldap_server
                environment:
                        - NFS_IPADDR_ALLOWED=${NFS_IPADDR_ALLOWED}
                        - NFS_PUBLIC_CONT=${NFS_PUBLIC_CONT}
                        - NFS_HOME_CONT=${NFS_HOME_CONT}
                volumes:
                        - type: bind
                          source: /mnt/nfs_share/Public
                          target: ${NFS_PUBLIC_CONT}
                          volume:
                                nocopy: true
                        - type: bind
                          source: /mnt/nfs_share/home
                          target: ${NFS_HOME_CONT}
                          volume:
                                nocopy: true
                ports:
                        - 2049:2049



LDAP_DOMAIN=xavier.institute
LDAP_BASE_DN=dc=xavier,dc=institute
LDAP_ORGANISATION_NAME="Xaviers School for Gifted Youngsters"
LDAP_ADMIN_USER=cn=admin
LDAP_ADMIN_PASSWORD=admin
LDAP_NFS_SERVER_IPADDR=192.168.1.120
LDAP_INIT=true
LDAP_INIT_BOOTSTRAP=true
LDAP_INIT_LDIF_PATH=examples/xavier_institute/init/ldif/1_automountMaps.ldif examples/xavier_institute/init/ldif/2_automounts.ldif examples/xavier_institute/init/ldif/3_organisationalUnits.ldif examples/xavier_institute/init/ldif/4_groups.ldif examples/xavier_institute/init/ldif/5_users.ldif
#LDAP_UNSAFE_SELFWRITE_ACL
#LDAP_PURGE_DATABASE
#LDAP_PPOLICY_SCHEMA_NEEDS_UPDATE
#LDAP_INVALID_CONFIG, 
#LDAP_MOVE_OLD_DATABASE, 
#LDAP_BACK_END, 
#LDAP_NO_CONFIGURATION, 
#LDAP_DUMP_DATABASE, 



LDAP_DOMAIN=xavier.institute
LDAP_BASE_DN=dc=xavier,dc=institute
LDAP_ORGANISATION_NAME="Xaviers School for Gifted Youngsters"
LDAP_ADMIN_USER=cn=admin
LDAP_ADMIN_PASSWORD=admin
LDAP_INIT_LDIF_PATH=examples/xavier_institute/init/ldif/1_automountMaps.ldif examples/xavier_institute/init/ldif/2_automounts.ldif examples/xavier_institute/init/ldif/3_organisationalUnits.ldif examples/xavier_institute/init/ldif/4_groups.ldif examples/xavier_institute/init/ldif/5_users.ldif
LDAP_NFS_SERVER_IPADDR=nfs_server
LDAP_INIT=true
LDAP_INIT_BOOTSTRAP=true
LDAP_INIT_LDIF_PATH=examples/xavier_institute/init/ldif/init.ldif
#LDAP_UNSAFE_SELFWRITE_ACL
#LDAP_PURGE_DATABASE
#LDAP_PPOLICY_SCHEMA_NEEDS_UPDATE
#LDAP_INVALID_CONFIG, 
#LDAP_MOVE_OLD_DATABASE, 
#LDAP_BACK_END, 
#LDAP_NO_CONFIGURATION, 
#LDAP_DUMP_DATABASE, 


